
body {
  font-family: "verdana";
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

.pointer:hover {
  color: #ffffff;
}
.pointer:active {
  color: #ffffff;
}

.container-fixed {
  min-width: 300px;
  overflow: hidden;
}

.topic-title-headline{
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 5px;
}

.icon-right {
  margin-right: 10px;
}

.topic-row {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #dcdcdc;
  margin: -1px 0 0 0;
}

.topic-row:nth-child(odd) {
  background-color: #f2f2f2;
}

.topic-row:hover {
  background-color: #e0e0e0;
}

.topic-column {
  min-width: 10em;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 5px;
  box-sizing: border-box;
}

.confirm-cancel {
  display: flex;
  width: 50px;
  justify-content: space-around;
}

.payload-column {
  overflow: hidden;
  flex-grow: 1;
}

.editor {
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-column {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.tip {
  color: #b7b7b7;
}

.invalid {
  color: red;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon-home:before {
  content: '⌂';
  position: relative;
  top:-5px;
  font-size: 30px;
}

.icon-load:before {
  content: '⧗';
}

.icon-cancel:before {
  content: '✖';
}

.icon-confirm:before {
  content: '✔';
}

.icon-add:before {
  content: '+';
  margin-left: 10px;
}

.icon-delete:before {
  content: '✕';
  margin: 10px;
}

.rotate {
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

pre {
  padding: 1px 0px 3px 4px;
  margin: 0px;
}

.editor-content {
  margin-top: 1px;
}

.ace-clouds {
  background-color: transparent !important;
  padding-bottom: 3px !important;
}

.ace_bracket {
  margin: 0px 0 0 -1px !important;
}

.ace_cursor-layer {
  padding-top: 1px !important;
}
